/* Obecné nastavení */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Hlavní hlavička */
header {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Navigace */
nav {
    text-align: center;
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav button {
    padding: 10px 20px;
    background-color: #D32F2F;
    border: none;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

nav button:hover {
    background-color: #C62828;
}

/* Formuláře */
form {
    background-color: white;
    padding: 30px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select,
input[type="number"],
input[type="time"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #D32F2F;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #C62828;
}

/* Skrytí neaktivních tabů a podkategorií */
.tab-content, .sub-category {
    display: none;
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}
